<!doctype html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Login Form</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <form action="#" method="post" th:action="@{processLogin}" th:object="${loginModel}">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input th:field = "*{username}" type="text" class="form-control" id="username" aria-describedby="usernamehelp">
          <!-- <div id="usernamehelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input th:field = "*{password}" type="text" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
       <!-- you can add css as well.. -->
  </body>
</html>
